In [ ]:
1. B. RAINBOW

In [1]:
print('LETS UPGRADE')

LETS UPGRADE

In [5]:
CP=input('Enter the Cost price : ')
SP=input('Enter the Sales price : ')

if CP>SP:
  print('LOSS')
if SP>CP:
  print('PROFIT')
else:
  print('NEITHER')

Enter the Cost price : 19
Enter the Sales price : 95
PROFIT

In [7]:
Euro=int(input('Enter the euro value : '))
inr = Euro*80
print('Value in INR ',inr)

Enter the euro value : 3
Value in INR  240